// Rem output with px fallback
@mixin font-size($sizeValue: 16) {
	font-size: $sizeValue * 1px;
	font-size: ($sizeValue/16) * 1rem;
}

// convert line-height to unitless value
@mixin line-height($value, $fontSize: 16) {
	line-height: $value/$fontSize;
}

// Convert letter-spacing to em
@mixin letter-spacing($psdValue) {
	letter-spacing: $psdValue/1000 * 1em;
}

@mixin overlay($bgColor: rgba(53, 60, 66, 0.9)) {
	content: "";
	display: block;
	background-color: $bgColor;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	clear: both;
}

// Vertical align center
@mixin vertical-center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 20;
}
